.audio_player {
   margin: 0 auto; 
   margin-top: 10px;   
    display: flex;
    flex-direction: column;
    max-width: 40%;
    max-height: auto;
    border-radius: 20px;
    background-color: #252227;
    border: 3px solid rgb(174, 2, 157);
}

.track_full_info {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid rgb(255, 254, 254);
    padding-bottom: 10px;
}

.image_music_track img {
margin-top:10px;   
 width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.track_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.audio_player_controls_buttons {
    justify-content: center;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.audio_player_controls_button_play {
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.play_stop_btn{
    border: 2px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
}

.audio_player_controls_button_next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}
.audio_player_controls_button_volume {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
}
.volumeBtn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
}
.nextBtn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
}

.audio_player_controls_button_prev {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}
.prevBtn{
    border: 2px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
}

.audio_player_controls_time {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: aliceblue;
}
.audio_player_controls_time h3 {
    white-space: nowrap;
}

.audio_progress_container {
    margin-right: 10px;
    margin-left: 25px;
    background-color: aliceblue;
    border-radius: 5px;
    width: 90%;
    height: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.audio_progress {
    background-color: rgb(218, 11, 156);
    border-radius: 5px;
    height: 6px;
    width: 100%;
    margin-left: 2px;
    margin-right: 2px;
}
